@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: white;
    padding: 1rem 2rem;
}

.brand-container {
    display: flex;
    align-items: center;
}

.brand-text {
    display: none;
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 1rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.toggle-button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.cv, .work, .education, .experience, .contact {
    width: 100%;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 1rem;
}
nav ul li a {
    color: inherit;
    text-decoration: underline;
    font-weight: bold;
}
nav ul li a:hover {
    text-decoration: underline;
}
.cv {
    padding: 2rem;
    background: #000000;
    margin: 2rem auto;
    width: 80%;
    border-radius: 8px;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}
.cv h2 {
    font-size: 2rem;
    text-align: left;
    color: #d85668;
    margin-bottom: 0.5rem;
}

.cv-video {
    position: relative;
    width: 100%;
    padding-bottom: 25%;
    height: 0;
    overflow: hidden;
    max-width: 1000px;
    margin: 0 auto; 
}

.cv-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cv-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.cv-text {
    max-width: 600px;
    text-align: left;
}
.cv-text h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #d85668;
}
.cv-text {
    font-size: 1.2rem
}
.cv-text p {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    color: #fff;
}
.cv-text ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}
.cv-text ul li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #fff;
}
.cv-text a {
    color: inherit;
    text-decoration: underline;
    margin-right: 0px;
}
.cv-photo {
    flex: 0 0 auto;
}
.cv-photo img {
    width: 100%;
    height: auto;
    max-width: 400px;
    border: 2px solid #fff;
    margin-left: 120px;
}
hr {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, #d85668, #ffffff, #d85668);
    margin: 2rem auto 3rem;
    width: 80%;
    box-shadow: 0 2px 10px rgba(255, 205, 0, 0.5);
}
.work {
    padding: 2rem;
    text-align: center;
    margin: 2rem auto;
    width: 80%;
    border-radius: 8px;
    font-family: 'Lato', sans-serif;
}
.work h1 {
    text-align: center;
    color: #d85668;
    font-size: 2rem;
    padding-bottom: 1rem;
}
.work-item {
    position: relative;
    margin-bottom: 20px;
}
.work-item::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    margin-top: 20px;
    background: linear-gradient(to right, #d85668, #ffffff, #d85668);
    margin-bottom: 50px;
}
.work-item h2 {
    text-align: center;
    font-size: 2rem;
}
.work-video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 0; 
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.work-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.work-images h2{
    text-align: center;
    margin-bottom: 1rem;
}
.work-images {
    display: flex;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap; 
}

.work-images img {
    max-width: 100%; 
    height: auto; 
}

.work-images img:first-child,
.work-images img:nth-child(2) {
    max-width: 45%;
}

.work-images img:last-child {
    max-width: 60%;
}

.synopsis,
.additional-links,
.awards {
    margin-bottom: 1.5rem;
}
.synopsis h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    text-align: left;
    color: #d85668;
}
.synopsis p {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    color: #fff;
    text-align: left;
}
.awards h3 {
    margin-bottom: 0.5rem;
    text-align: center;
    color: #d85668;
}
.awards-images {
    display: flex;
    justify-content: centre;
    gap: 20px;
}
.additional-links h3 {
    color: #d85668;
    margin-bottom: 0.5rem;
}
.additional-links a {
    margin-right: 15px;
    text-decoration: none;
    color: #ffffff;
}
.education h2 {
    color: #d85668;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
}
.education h3 {
    color: #d85668;
}
.experience {
    background: #000000;
    border-radius: 8px;
    font-family: 'Lato', sans-serif;
}
.experience h2 {
    color: #d85668;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
}
.experience h3 {
    color: #d85668;
}
.timeline {
    width: 100%;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem 0;
    box-sizing: border-box;
}

.timeline-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem 2rem;
    margin: 1rem 0;
    position: relative;
}
.timeline-title a {
    color: inherit;
    text-decoration: underline;
}
.timeline-title a:hover {
    text-decoration: underline;
}
.timeline-item::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(150px + 2rem + 20px);
    width: 2px;
    background-color: #ffffff;
}
.timeline-date {
    flex: 0 0 150px;
    padding: 1rem;
    color: #ffffff;
    text-align: center;
    border-radius: 8px;
    font-size: 1rem; 
    font-weight: bold;
    margin-right: 2rem; 
    margin-top: 5px; 
}
.timeline-content {
    padding: 1rem;
    border-radius: 8px;
    flex-grow: 1; 
    text-align: left;
}
.timeline-title {
    font-size: 1.5rem;
    margin: 0 0 0.1rem;
}
.timeline-description {
    font-size: 1rem;
    margin: 0;
}
.timeline-marker {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(150px + 2rem);
    width: 14px;
    height: 14px;
    background-color: #d85668;
    border-radius: 50%;
    transform: translateY(-50%);
    border: 2px solid #000;
}
body {
    margin: 0;
    padding: 0;
}
.contact {
    padding: 2rem;
    background: #000000;
    margin: 2rem auto;
    width: 80%;
    border-radius: 8px;
    font-family: 'Lato', sans-serif;
    color: #fff;
    text-align: center;
}
.contact h2 {
    font-size: 2rem;
    color: #d85668;
    margin-bottom: 1rem;
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form div {
    margin-bottom: 1rem;
    width: 100%;
    max-width: 400px;
    text-align: left;
}
form label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    
}
form input,
form textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-family: inherit;
}
form button {
    background-color: #d85668;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
form button:hover {
    background-color: #b13b4c;
}

footer {
    width: 100%;
    padding: 1rem 0;
    background: #000;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
}
footer p {
    margin: 0;
    font-size: 1.2rem;
}
footer .social-links {
    margin-top: 10px;
}
footer .social-links a {
    margin-right: 15px;
    text-decoration: none;
    color: #ffffff;
}
@media screen and (max-width: 768px) {
    .cv, .work, .education, .experience, .contact, .timeline {
        width: 95%;
        padding: 1rem;
    }

    .cv-video {
        width: 100%;
        max-width: none;
        margin: 0;
        padding-bottom: 56.25%;
    }

    .cv-content {
        flex-direction: column;
    }

    .cv-photo img {
        max-width: 100%;
        margin-left: 0;
        margin-top: 1rem;
    }

    .timeline {
        width: 95%;
    }

    .timeline-item {
        flex-direction: column;
        padding: 1rem;
    }

    .timeline-item::before {
        left: 0;
        top: auto;
        bottom: 0;
        width: 100%;
        height: 2px;
    }

    .timeline-date {
        flex: 0 0 auto;
        margin-right: 0;
        margin-bottom: 0.5rem;
        text-align: left;
        padding: 0.5rem 0;
    }

    .timeline-marker {
        left: 0;
        top: auto;
        bottom: -7px;
    }

    .timeline-content {
        padding: 0.5rem 0 1.5rem 0;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 0.5rem 0;
    }

    .contact {
        width: 95%;
    }
    .work-video {
        width: 100%;
        max-width: none;
        margin-left: 0;
        margin-right: 0;
    }
    .brand-text {
        display: block;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

     .navbar {
        flex-wrap: wrap;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .brand-container {
        width: 100%;
        justify-content: space-between;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}