/* Import Baguet Script font */
@import url('https://fonts.googleapis.com/css2?family=Baguet+Script&display=swap');

/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #000; /* Black background for the entire page */
    color: #fff; /* White text color for better contrast */
}

header {
    background: #000; /* Black background for header */
    color: #fff;
    padding: 1rem 2rem; /* Adjust padding to match section alignment */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff; /* White text for links */
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

section#cv {
    padding: 2rem;
    background: #000000; /* Black background for section */
    margin: 2rem auto;
    width: 80%;
    border-radius: 8px;
    border-bottom: 2px solid #fff; /* Add a white border at the bottom */
    font-family: 'Garamond', serif; /* Change font to Garamond */
}

section#cv h2 {
    font-size: 2rem;
    text-align: left; /* Align text to the left */
    color: #ffcd00; /* Change h2 color to #ffcd00 */
    margin-bottom: 1.5rem; /* Add space below the heading */
}


.cv-content {
    display: flex;
    flex-direction: row; /* Display children in a row */
    justify-content: flex-start; /* Align children to the start */
}

.cv-text {
    max-width: 600px;
    text-align: left;
}

.cv-text h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #ffcd00; /* Change h3 color to #ffcd00 */
}

.cv-video {
    margin-top: 50px;
    text-align: center;
}

.cv-text p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    color: #fff; /* Ensure paragraph text is visible on black background */
}

.cv-text ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

.cv-text ul li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #fff; /* Ensure list items are visible on black background */
}

.cv-text a {
    margin-right: 0px;
}

.cv-photo {
    flex: 0 0 auto; /* Prevent the photo from growing */
}

.cv-photo img {
    width: 100%;
    height: auto;
    max-width: 500px; /* Adjust max width of the photo */
    border: 2px solid #fff; /* White border to distinguish image */
    border-radius: 0; /* Removed rounding from images */
    margin-left: 120px;
}

section#work {
    padding: 2rem;
    text-align: center;
    background: #000; /* Black background for section */
    margin: 2rem auto;
    width: 80%;
    border-radius: 8px;
    font-family: 'Garamond', serif; /* Change font to Garamond */
}

section#work h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff; /* Ensure heading is visible on black background */
}

.work, .project {
    margin: 4rem 0; /* Increased space between the photos */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centering the content */
}

.work a, .project a {
    color: #fff; /* Ensure text is visible on black background */
    text-decoration: none;
    text-align: center; /* Center align text */
}

.work h3, .project h3 {
    margin-bottom: 2rem; /* Increased space between text and image */
    font-size: 1.5rem;
    color: #fff; /* Ensure sub-heading is visible on black background */
}

.work img, .project img {
    width: 1000px; /* Fixed width for images */
    height: 500px; /* Fixed height for images */
    border: 2px solid #fff; /* White border to distinguish image */
    border-radius: 0; /* Removed rounding from images */
    transition: transform 0.3s ease-in-out; /* Smooth transition for transform */
}

.work img:hover, .project img:hover {
    transform: scale(1.1); /* Enlarges the image on hover */
}

.timeline {
    position: relative;
    margin: 2rem auto;
    width: 80%;
    padding: 2rem 0;
}

.timeline-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem 2rem;
    margin: 2rem 0;
    position: relative;
}

.timeline-item::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(150px + 2rem + 50px); /* Position in the middle */
    width: 2px;
    background-color: #ffcd00;
}

.timeline-date {
    flex: 0 0 150px; /* Fixed width for date box */
    padding: 1rem;
    background-color: #ffcd00;
    color: #000;
    text-align: center;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 2rem; /* Space between date and content */
}

.timeline-content {
    padding: 1rem;
    background-color: #202C36;
    border-radius: 8px;
    flex-grow: 1; /* Allow content to take up remaining space */
}

.timeline-title {
    font-size: 1.5rem;
    margin: 0 0 0.5rem;
}

.timeline-description {
    font-size: 1rem;
    margin: 0;
}

.timeline-marker {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(150px + 2rem); /* Position in the middle */
    width: 14px;
    height: 14px;
    background-color: #ffcd00;
    border-radius: 50%;
    transform: translateY(-50%);
    border: 2px solid #000;
}




footer {
    text-align: center;
    padding: 1rem 0;
    background: #000; /* Black background for footer */
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}
